.box {
  display: flex;
  width: 400px;
  height: 290px;
  border-radius: 12px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.45);
}

.border {
  outline: 3px solid #6ba180;
  border-radius: 10px;
  width: 410px;
}
